{% extends 'mainapp/base.html' %}
{% block title %}
    <title>Manage Patients</title>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="display-4">Manage Patients</h1>

    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <button type="button"
                id="reg-button" class="btn btn-outline-dark mr-2"><span data-feather="user-plus"></span>
            Register
        </button>
        <button type="button" class="btn btn-outline-dark mr-2"><span data-feather="search"></span> Find
        </button>
    </div>

    <div id="reg-patient">
        {#                <h3 class="mt-3">Register a patient</h3>#}
        <form class="mt-3" action="/registerPatient" method="post">
            {% csrf_token %}

            <span class="font-weight-bold">Primary Details</span>
            <div class="form-row">
                <div class="col-4">
                    {{ form.first_name | as_crispy_field }}
                </div>
                <div class="col-4">
                    {{ form.middle_name | as_crispy_field }}
                </div>
                <div class="col-4">
                    {{ form.last_name | as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-4">
                    {{ form.dob | as_crispy_field }}
                </div>
                <div class="col-4">
                    {{ form.sex | as_crispy_field }}
                </div>
                <div class="col-4">
                    {{ form.blood_group | as_crispy_field }}
                </div>

            </div>
            {% comment %}<div class="row">
                        <div class="col"><hr></div>
                        <div class="col-auto">Address</div>
                        <div class="col"><hr></div>
                    </div>{% endcomment %}
            <span class="font-weight-bold">Address</span>
            <div class="form-row">
                <div class="col-6">
                    {{ form.address1 | as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.address2 | as_crispy_field }}
                </div>
            </div>

            <div class="form-row">
                <div class="col-3">
                    {{ form.city | as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.state | as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.country | as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.zip_code | as_crispy_field }}
                </div>
            </div>
            <span class="font-weight-bold">Contact Details</span>
            <div class="form-row">
                <div class="col-6">
                    {{ form.phone_number | as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.email | as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    {{ form.remarks | as_crispy_field }}
                </div>
            </div>
            {#                    {{ form|crispy }}#}

            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
{% endblock %}

{% load static %}

{% block importScripts %}
    <script src="{% static 'mainapp/js/index.js' %}"></script>
{% endblock %}

{% block importcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/index.css' %}">
{% endblock %}